@import url('https://fonts.cdnfonts.com/css/recoleta');

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* nav {
    font-family: 'Recoleta', sans-serif;                                  
} */
