@import url('https://fonts.cdnfonts.com/css/recoleta');

* {
    margin: 0;
    box-sizing: border-box;
}

::selection {
    color: white;
    background: red;
}

html {
    scroll-behavior: smooth;
}  