@import url('https://fonts.cdnfonts.com/css/recoleta');

* {
    margin: 0;
    box-sizing: border-box;
}

::selection {
    color: white;
    background: red;
}

html {
    scroll-behavior: smooth;
}

/* === Scrollbar === */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ff5050;
}

::-webkit-scrollbar-thumb:hover {
    background: #ef4444;
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background: #4b5563;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #ff5050;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #ef4444;
    }
}

/* === Preloader === */